.App {
  text-align: center;
  background-color: rgb(244, 9, 244);
  margin: 35%;
  text-align: center;
  
}
.profile-card{
  margin:20px;
  background-color: rgb(168, 43, 226);
  border-end-end-radius: 40px;
}
.image-wrapper{
  margin-top: 5px;
  padding: 15px;
  border-radius: 15px;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
